{% extends "archiv/base.html" %}
{% block scriptheader %}
{% endblock scriptheader %}
{% block content %}
<div class="wrapper" id="index-wrapper">
  <div class="container" id="content" tabindex="-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Werke</a></li>
        <li class="breadcrumb-item"><a href="{{ object.work.get_absolute_url }}">Werk: {{ object.work }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Collation: {{ object }}</li>
      </ol>
    </nav>
    <h1>Kollation von: <a href="{{ object.work.get_absolute_url }}">{{ object.work }}</a></h1>
    <h3><a href="{% url 'collate_collation' pk=object.id %}">collate</a></h3>
    <ul>
      {% for x in object.manifestation.all %}
      <li>{{ x }}</li>
      {% endfor %}
    </ul>
    {% for x in object.frdcollationsample_set.all %}
    <div>
      {{ x.data_html|safe }}
    </div>
    {% endfor %}
  </div>
  <!-- Container end -->
</div>
<!-- Wrapper end -->
{% endblock %}