{% extends "archiv/base.html" %}
{% block content %}
<div class="wrapper" id="index-wrapper">
  <div class="container" id="content" tabindex="-1">   
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Werke</a></li>
        <li class="breadcrumb-item"><a href="{{ object.work.get_absolute_url }}">Werk: {{ object.work }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manifestation: {{ object }}</li>
      </ol>
    </nav>
    <h1>{{ object.drupal_json.attributes.title }} <a href="https://www.freud-edition.net{{object.drupal_json.attributes.path.alias }}" target="_blank"><i data-feather="external-link"></i><a></h1>
    <hr />
    <h2>Manifestationen</h2>
    <p>
      <pre>
        <code class="language-xml">
          {{ object.tei_doc }}
        </code>
      </pre>
    </p>
  </div>
  <!-- Container end -->
</div>
<!-- Wrapper end -->
{% endblock %}