{% extends "archiv/base.html" %}
{% block scriptheader %}
{% endblock scriptheader %}
{% block content %}
<div class="wrapper" id="index-wrapper">
  <div class="container" id="content" tabindex="-1">   
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Werke</a></li>
        <li class="breadcrumb-item active" aria-current="page">Werk: {{ object }}</li>
      </ol>
    </nav>
    <h1>{{ object.drupal_json.attributes.title }} <a href="https://www.freud-edition.net{{object.drupal_json.attributes.path.alias }}" target="_blank"><i data-feather="external-link"></i><a></h1>
    <hr />
    <h2>Manifestationen</h2>
    <ul>
      {% for x in object.frdmanifestation_set.all %}
        <li><a href="{{ x.get_absolute_url }}">{{ x }}</a></li>
      {% endfor %}
    </ul>
    <a href="{% url 'import_manifestations' pk=object.id %}" class="btn btn-primary" href="#" role="button">import/update manifestations</a>
    <hr />
    <h2>Collationen</h2>
      <a href="{% url 'collation_create' %}?work={{ object.id }}" class="btn btn-primary" href="#" role="button">create new collation</a>
      <ul>
        {% for x in object.frdcollation_set.all %}
          <li><a href="{{ x.get_absolute_url }}">{{ x }}</a></li>
        {% endfor %}
      </ul>
  </div>
  <!-- Container end -->
</div>
<!-- Wrapper end -->
{% endblock %}